.wrapper{
  width: 90%;
  margin-left: 2%;
  margin-right: 5%;
  #card{
    background-color: #E8E8E8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    height: 50%;
  }
  #card2{
    background-color: #E8E8E8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 30%;
    height: 30%;
  }
  #textarea{
    margin: auto;
  }
 input[type="text"] {
    width: 80%;
    height: 40px;
    border-bottom-color: black;
}

}
