.mainframe{
  background-color:	#E8E8E8;
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  .header{
    height: 20%;
    h2{
      text-align: center;
    }
  }
  .signups{
    padding: 10%;
    background-image: url('../../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    margin-left: 5%;
    #lograpper{
      height: 100vh;
    }
  }
}