.mainframe{
  background-color:#E8E8E8;
  height: 100vh;
  width: 100%;
  margin-top: 0px;
  .header{
    height: 20%;
    background: black;
    h2{
      text-align: center;
      color: white;
    }
  }
  .signups{
    border: 4px;
    border-color: black;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 20%;
    #lograpper{
      height: 100vh;
    }
  }
  form{
    align-self: center;
    box-shadow: 10px 10px 5px #888888;
    .row{
      margin-left:20%;
      margin-right:20%;
      margin-top: 3%;
    }
  }
}